* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: #1c1d20;
  position: absolute;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader h2 {
  font-size: 4vw;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 2vw;
  position: absolute;
  opacity: 0;
}

.loader h2 i {
  font-size: 1vw;
}

#sidemenu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 37vw;
  height: 100vh;
  background-color: #1c1d20;
  padding: 8vw 5vw 0vw 5vw;
  transform: scaleX(0);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#sidemenu p {
  font-size: .7vw;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  color: #999d9e;
  border-bottom: 1px solid gray;
  padding-bottom: 2vw;
}

#sidemenu h2 {
  margin-top: 2vw;
  font-size: 4vw;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 2vw;
  cursor: pointer;
}

#sidemenu h2 i {
  font-size: .9vw;
  scale: 0;
  transition: all ease 0.3s;
}

#sidemenu .home:hover i {
  scale: 1;
}

#sidemenu .work:hover i {
  scale: 1;
}

#sidemenu .about:hover i {
  scale: 1;
}

#sidemenu .contactt:hover i {
  scale: 1;
}

#sidemenu h5 {
  font-size: .8vw;
  font-weight: 400;
  color: #999d9e;
  width: 77%;
  margin: 0 auto;
  margin-top: 2.5vw;
}

#sidemenu .socials {
  width: 77%;
  margin: 0 auto;
  margin-top: 1vw;
  display: flex;
  gap: 2vw;
  font-size: 1vw;
}

#sidemenu .socials a {
  text-decoration: none;
}


.main {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg);
  background-position: center;
  background-size: cover;
}

nav {
  padding: 2vw 3vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav h4 {
  font-weight: 500;
}

nav .right-nav {
  display: flex;
  position: absolute;
  gap: 3vw;
  right: 3%;
  z-index: 200;
}

.right-nav a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  font-weight: 500;
}

.right-nav a i {
  font-size: 0.5vw;
  scale: 0;
  transition: all ease 0.3s;
}

.right-nav a:nth-child(1):hover i {
  scale: 1;
}

.right-nav a:nth-child(2):hover i {
  scale: 1;
}

.right-nav a:nth-child(3):hover i {
  scale: 1;
}

nav .right-nav2 {
  display: flex;
  gap: 2vw;
  align-items: center;
  scale: 0;
}

nav .right-nav2 i{
  font-size: 2vw;
}

.hero-left {
  position: absolute;
  top: 45%;
  width: 17vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  background-color: #1c1d20;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.globe {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999d9e;
}

.globe img {
  animation: globe 2s linear infinite;
}

.hero-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  top: 40%;
  right: 10%;
}

.hero-right i {
  font-size: 3vw;
}

.hero-right h2 {
  font-size: 2vw;
  font-weight: 400;
}

.hero .pawan {
  position: absolute;
  bottom: 5%;
  width: 190%;
  display: flex;
}

.pawan h1 {
  font-size: 14vw;
  font-weight: 400;
  animation: text 15s linear infinite;
}

.menu {
  transition: all ease 0.3s;
}

.menu #openbtn {
  position: fixed;
  z-index: 100;
  right: 2%;
  top: 5%;
  width: 5.5vw;
  height: 5.5vw;
  background-color: #1c1d20;
  border: 1px solid grey;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2vw;
  scale: 0;
}

.menu #openbtn:hover {
  background-color: #334bd3;
}

.menu #closebtn {
  position: fixed;
  z-index: 100;
  right: 2%;
  top: 5%;
  width: 5.5vw;
  height: 5.5vw;
  background-color: #334bd3;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  scale: 0;
  font-size: 2vw;
}

.part-1 {
  padding: 10vw 15vw;
  position: relative;
}

.part1-left {
  width: 60%;
  top: 48%;
  left: 15%;
  position: absolute;
}

.part1-left p {
  background-color: white;
  overflow: hidden;
}

.part1-left p span {
  color: black;
  font-size: 2.3vw;
  line-height: 3.3vw;
  display: inline-block;
}

.part1-right {
  width: 20%;
  position: absolute;
  right: 10%;
}

.part1-right p {
  background-color: white;
  overflow: hidden;
}

.part1-right p span{
  color: black;
  line-height: 2.3vw;
  font-size: 1.2vw;
  display: inline-block;
}

.abt-btn {
  position: relative;
  overflow: hidden;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1.2vw;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #18181a;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  margin-top: 5vw;
}

.abt-btn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.abt-btn span:last-child {
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.abt-btn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #999d9e;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.abt-btn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.abt-btn:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.part-2 {
  min-height: 100vh;
  padding: 0vw 15vw;
  margin: 20vw 0vw;
}

.tworight .right-elem {
  border-bottom: 1px solid silver;
  padding-top: 1vw;
  cursor: pointer;
}

.right-elem:hover {
  border-bottom: 1px solid black;
}

.tworight .elem {
  display: flex;
  justify-content: space-between;
}

.elem .icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.elem h2 {
  color: black;
  font-size: 4vw;
  font-weight: 400;
}

.icon i {
  font-size: 1.5vw;
}

.elem p {
  color: grey;
}

.right-elem img {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  object-fit: cover;
  scale: 0;
}

.radius {
  width: 100vw;
  height: 40vh;
  background-color: white;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  bottom: 15%;
  scale: 1.2;
  z-index: 99;
}

.contact {
  height: 100vh;
  background-color: #1c1d20;
}

.contact .work {
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid silver;
  padding: 10vw 0vw 5vw 0vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.work i {
  font-size: 3vw;
  font-weight: 100;
}

.work h1 {
  font-size: 6vw;
  font-weight: 400;
  line-height: 6vw;
}

.work h1 span img {
  width: 5vw;
}

.work .btn {
  width: 12vw;
  height: 12vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: white;
  background-color: #455ce9;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  bottom: -20%;
  right: 8%;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.work .btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #334bd3;
  transform: translateY(100%);
  transition: all 0.3s;
  z-index: -1;
  border-radius: 100%;
}

.work .btn:hover::before {
  transform: translateY(0);
  border-radius: 0%;
}

.work .btn p {
  transform: translateZ(50px);
}

.btns {
  width: 70%;
  margin: 0 auto;
  padding: 10vw 0vw;
  display: flex;
  gap: 2vw;
}

.btns .Btn {
  position: relative;
  width: 260px;
  height: 55px;
  border-radius: 45px;
  padding: 2vw 10vw;
  border: none;
  background-color: transparent;
  border: 1px solid silver;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.Btn:nth-child(2) {
  padding: 2vw 5vw;
}

.Btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.Btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.Btn:hover {
  animation: jello-horizontal 0.5s both;
  background-color: #455ce9;
  border: 1px solid #455ce9;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes globe {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes text {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}





@media (max-width: 768px) {

  .loader h2 {
    font-size: 10vw;
  }

  .loader h2 i {
    font-size: 3vw;
  }

  #sidemenu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #1c1d20;
    padding: 25vw 7vw 0vw 7vw;
    transform: scaleX(0);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  
  #sidemenu p {
    font-size: 3vw;
    width: 100%;
    margin: 0 auto;
    font-weight: 600;
    color: #999d9e;
    border-bottom: 1px solid gray;
    padding-bottom: 8vw;
    margin-bottom: 15vw;
  }
  
  #sidemenu h2 {
    margin-top: 3vw;
    font-size: 12vw;
    font-weight: 400;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    align-items: center;
    gap: 0vw;
    justify-content: space-between;
    cursor: pointer;
  }
  
  #sidemenu h2 i {
    font-size: 3.5vw;
    scale: 0;
    transition: all ease 0.3s;
  }

  #sidemenu .home:active i {
    scale: 1;
  }
  
  #sidemenu .work:active i {
    scale: 1;
  }
  
  #sidemenu .about:active i {
    scale: 1;
  }
  
  #sidemenu .contactt:active i {
    scale: 1;
  }
  
  #sidemenu h5 {
    font-size: 3vw;
    font-weight: 400;
    color: #999d9e;
    width: 100%;
    margin: 0 auto;
    margin-top: 50vw;
    border-top: 1px solid grey;
    padding-top: 5vw;
  }
  
  #sidemenu .socials {
    width: 100%;
    margin: 0 auto;
    margin-top: 1vw;
    display: flex;
    gap: 0vw;
    justify-content: space-between;
    font-size: 4.5vw;
  }
  
  #sidemenu .socials a {
    text-decoration: none;
  }

  .menu #openbtn {
    top: 2%;
    right: 4%;
    width: 17vw;
    height: 17vw;
    font-size: 7vw;
  }
  
  .menu #openbtn:hover {
    background-color: #334bd3;
  }
  
  .menu #closebtn {
    top: 2%;
    right: 4%;
    width: 17vw;
    height: 17vw;
    font-size: 7vw;
  }

  nav {
    padding: 5vw 3vw;
  }

  nav .right-nav {
    display: none;
  }

  nav .right-nav2 {
    scale: 1;
  }

  .hero-left {
    background-color: transparent;
    top: 73%;
    right: 5%;
  }

  .hero-left p {
    display: none;
  }

  .hero-right h2 {
    font-size: 7vw;
  }

  .hero-right i {
    font-size: 7vw;
  }

  .hero-right {
    top: 75%;
    right: 50%;
  }

  .hero .pawan {
    bottom: 35%;
    width: max-content;
  }

  .pawan h1 {
    font-size: 40vw;
  }

  .part-1 {
    padding: 15vw 5vw;
    position: relative;
  }

  .part1-left {
    width: 100%;
    position: static;
    opacity: 1;
    font-size: 6vw;
    line-height: 0vw;
  }

  .part1-left p span {
    color: black;
    font-size: 4vw;
    line-height: 7vw;
    display: inline-block;
  }

  .part1-right {
    width: 60%;
    position: static;
    margin-top: 15vw;
  }

  .part1-right p span{
    color: black;
    line-height: 6vw;
    font-size: 3.2vw;
    display: inline-block;
  }

  .abt-btn {
    position: absolute;
    right: 3%;
    bottom: -0;
    font-size: 4vw;
    width: 37vw;
    height: 37vw;
  }

  .part-2 {
    min-height: 100vh;
    padding: 0vw 5vw;
    margin: 20vw 0vw;
  }

  .elem h2 {
    color: black;
    font-size: 6vw;
    font-weight: 400;
    padding-bottom: 5vw;
    border-bottom: 1px solid grey;
  }

  .tworight .right-elem {
    border-bottom: none;
    padding-top: 1vw;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    gap: 3vw;
    margin-bottom: 15vw;
  }


  .tworight .elem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vw;
  }

  .right-elem img {
    width: 100%;
    height: auto;
    border-radius: 0%;
    object-fit: cover;
    scale: 1;
  }

  .radius {
    display: none;
  }

  .contact .work {
    width: 90%;
    padding: 20vw 0vw;
    position: relative;
  }

  .work i {
    font-size: 7vw;
  }

  .work h1 {
    font-size: 12vw;
    line-height: 12vw;
  }

  .work h1 span img {
    width: 10vw;
  }

  .work .btn {
    width: 37vw;
    height: 37vw;
    bottom: -28%;
  }

  .btns {
    width: 90%;
    margin: 0 auto;
    padding: 50vw 0vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }

  .btns .Btn {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 45px;
    padding: 7vw 10vw;
    border: none;
    background-color: transparent;
    border: 1px solid silver;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

}